{{page-title "TodoCat"}}
{{outlet}}

<div class="pageBox">

    <Input
        type="text"
        placeholder="New to-do"
        @value={{this.todoText}}
      />

      <button type="button" {{on 'click' this.createTodo}}>Add</button>

</div>

<div class="pageBox">

  <header class="subHeader">{{this.auth.user.displayName}}'s {{this.cat}} TODOS</header>

  <div class="container">
    <ul class="flexBox">
      {{#each this.todos as |item|}}
        <div class="todoItem2">
          <LinkTo @route="todo" @model="{{item.id}}">
            <li class="todoItem">{{truncate item.todo}}</li>
          </LinkTo>
          <button type="button"{{on 'click' (fn this.toggleDone item)}}>Done</button>
        </div>
      {{/each}}
    </ul>
  </div>

  <div class="center">
    <button {{on 'click' this.toDone}} type="button" >See Done</button>
  </div>
</div>